<!DOCTYPE html>
<html>
<head>
    <title>Fractal renderer</title>
    <link rel="stylesheet" href="css/foundation.css" media="all" />
    <link rel="stylesheet" href="css/app.css" media="all" />
</head>
<body ng-app="FractalApp" ng-controller="FractalController">
    <script src="js/vendor/jquery.js" type="text/javascript"></script>
    <script src="js/foundation/foundation.js" type="text/javascript"></script>
    <script src="js/angular/angular.js" type="text/javascript"></script>
    <script src="js/app/app.js" type="text/javascript"></script>
    <script src="js/app/complex.js"></script>
    <script>
        $(document).foundation();
    </script>

    <div class="row">
        <div class="small-3 columns">
            <h1>Fractal renderer</h1>
            <form>
                <label>
                    x min
                    <input type="text" ng-model="xMin" />
                </label>
                <label>
                    x max
                    <input type="text" ng-model="xMax" />
                </label>
                <label>
                    y max
                    <input type="text" ng-model="yMax" />
                </label>
                <label>
                    y min
                    <input type="text" ng-model="yMin" />
                </label>
                <label>
                    iterations
                    <input type="text" ng-model="m" />
                </label>
                <label>
                    chosen fractal
                    <select ng-model="chosenFractal" ng-options="f for f in availableFractals"></select>
                </label>
                <button id="bRender" class="button right" ng-click="renderFractal()">Render fractal<br/><small>may take a while...</small></button>
            </form>
        </div>
        <div class="small-9 columns">
            <canvas id="cnvs" fractal-canvas width="800" height="800" style="margin-top: 2em;"></canvas>
        </div>
    </div>
</body>

</html>